In [6]:
my_list = [1,2,3]
def append_four(x):
    x.append(4)
append_four(my_list)
print(my_list)

[1, 2, 3, 4]

In [5]:
append_four(my_list)
print(my_list)

[1, 2, 3, 4, 4, 4, 4]

In [17]:
some_list = ['One','Two','Three']
print(some_list)
print(type(some_list))
print('Mississippi'.join(some_list))
print(type('Mississippi'.join(some_list)))

['One', 'Two', 'Three']
<class 'list'>
OneMississippiTwoMississippiThree
<class 'str'>

In [8]:
some_list = ['One','Two','Three']
' '.join(some_list)

'One Two Three'